
@font-face {
    font-family: 'Interstate';
    font-style: normal;
    font-weight: bold;
    src: url("/src/static/Interstate-Bold.otf") format('otf');
}
@font-face {
    font-family: 'Interstate';
    font-style: italic;
    font-weight: bold;
    src: url("/src/static/Interstate-BoldItalic.otf") format('otf');
}
@font-face {
    font-family: 'Interstate';
    font-style: normal;
    font-weight: lighter;
    src: url("/src/static/Interstate-Light.otf") format('otf');
}
@font-face {
    font-family: 'Interstate';
    font-style: italic;
    font-weight: lighter;
    src: url("/src/static/Interstate-LightItalic.otf") format('otf');
}
@font-face {
    font-family: 'Interstate';
    font-style: normal;
    font-weight: normal;
    src: url("/src/static/Interstate-Regular.otf") format('otf');
}
@font-face {
    font-family: 'Interstate';
    font-style: italic;
    font-weight: normal;
    src: url("/src/static/Interstate-RegularItalic.otf") format('otf');
}